[submodule "otd-calcs-web"]
	path = otd-calcs-web
	url = https://github.com/fruzyna/otd-calcs-web
[submodule "homepage"]
	path = homepage
	url = https://github.com/fruzyna/homepage
[submodule "personal-site"]
	path = personal-site
	url = https://github.com/fruzyna/personal-site
[submodule "wildrank"]
	path = wildrank
	url = https://github.com/fruzyna/liamrank
